<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Watch List</title>
    <link rel="stylesheet" href="../public/styles/styles.css">
</head>
<style>
    #card-one:hover {
        background-color: #CE0787 !important;
    }
    #card-two:hover {
        background-color: #CE0787 !important;
    }
    a:hover {
        color: lemonchiffon !important;
        text-decoration: underline !important;
    }
</style>
<body>
    <!-- <h1>Welcome to Home Page</h1> -->
    <div style="margin: 2.5vh auto; border: 1px solid red;width: 95vw; height: 95vh; background-color: #141414;background-image: url('/images/home-image.jpeg');background-size: contain;background-repeat: no-repeat;background-position-y: center;">
        <!-- <img src="/images/home-image.jpeg" style="width: 100%;height: 100vh;"> -->
        <div id="card-one" style="background-color: #249B62; position: absolute;top: 62.5%;left:30%;width: 10vw;height: 15vh;">
            <a href="/series" style="font-family: sans-serif;height: inherit; display: flex;justify-content: center;align-items: center;text-decoration: none;color: #fff;">Series</a>
        </div>
        <div id="card-two" style="background-color: #6105AA;position: absolute;top: 62.5%;left: 60%;width: 10vw;height: 15vh;">
            <a href="/movies" style="font-family: sans-serif; height: inherit; display: flex;justify-content: center;align-items: center;text-decoration: none;color: #fff;">Movies</a>
        </div>
    </div>
</body>
</html>
